<div class="container-fluid">
  <!-- Icons -->
  <div>
    <div class="row">
      <div class="col-sm-12">
        <i class="fa fa-long-arrow-left grey bars-style"></i>
        <i class="fa fa-exchange grey bars-style" style="position: absolute;right: 15px;"></i>
      </div>
    </div>
  </div>

  <!-- Body Weight -->
  <div style="margin-top:140px;" class="container body-wgt">
    <p class="grey">June 4 2015</p>
    <p>54.7 <sub class="grey">kg</sub></p>
    <p class="grey">Body weight</p>
  </div>

  <!-- Months -->
  <div class="months row">
    <div class="col-sm-2 col-xs-2">
      <p>Feb</p>
    </div>
    <div class="col-sm-2 col-xs-2">
      <p>Mar</p>
    </div>
    <div class="col-sm-2 col-xs-2">
      <p>Apr</p>
    </div>
    <div class="col-sm-2 col-xs-2">
      <p>May</p>
    </div>
    <div class="col-sm-2 col-xs-2">
      <p>June</p>
    </div>
    <div class="col-sm-2 col-xs-2">
      <p>July</p>
    </div>
  </div>

  <!-- Graph -->
  <div class="row" style="margin-top: 100px;">
    <div>
      <svg viewBox="0 0 500 240" class="chart">
        <polyline
          fill="#c0e6fb"
          stroke="#9cdbf5"
          stroke-width="5"
          points="
          00,240
          20,60
          40,80
          60,20
          80,80
          100,80
          120,60
          140,100
          160,90
          180,80
          200, 110
          220, 10
          240, 70
          260, 100
          280, 100
          300, 40
          320, 80
          340, 100
          360, 100
          380, 10
          400, 90
          420, 70
          440, 80
          460, 70
          480, 100
          500, 240
          "
        />
      </svg>
    </div>
    <div class="bg-teal pd-x-25 pd-b-25 d-flex justify-content-between mg-minus15">
        <span class="grey3" style="margin-left: 14%;
        margin-top: 30px;
        margin-bottom: 30px;">Your goal 50 kg</span>
    </div>
    <div class="bg-teal pd-x-25 pd-b-25 d-flex justify-content-between mg-minus15">
      <div class="col-sm-6 col-xs-6">
        <div style="margin-left: 25%;">
          <p class="grey3">Feb 5 2015</p>
          <h3 style="color: #5b6f7f;font-size: 40px;font-family: 'Rubik', sans-serif;">57.5<span class="tx-light op-8 tx-20">kg</span></h3>
          <p class="grey3 ft-15">Max weight</p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6">
        <div style="margin-right: 25%;">
          <p class="grey3">July 14 2015</p>
          <h3 style="color: #5b6f7f;font-size: 40px;font-family: 'Rubik', sans-serif;" class="">53.4<span class="tx-light op-8 tx-20">kg</span></h3>
          <p class="grey3 ft-15">Max weight</p>
        </div>
      </div>
    </div>
    </div>
  </div>

  <a class="btn btn-link" href="#/">1st Screen</a>
  <a class="btn btn-link" href="#/profile">2nd Screen</a>
  <a class="btn btn-link" href="#/info">3rd Screen</a>
</div>