<div class="container-fluid">
  <!-- Image -->
  <div>
    <div class="row profile-page-img">
      <div class="col-sm-7 col-xs-7 height-300-px">
        <span class="blur-background"></span>
        <i class="fa fa-bars grey bars-style"></i>
        <div class="profile-page-img-block-left">
          <p>Jane</p>
          <p>Novakova</p>
        </div>
      </div>
      <div class="col-sm-5 col-xs-5 height-300-px">
        <div class="profile-page-img-block-right">
          <p class="grey2">57% of goals</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Six Blocks -->
  <div class="row dark-blue">
    <div class="col-sm-4 col-xs-4 border-right border-bottom row-rect">
      <p>22</p>
      <p>Age</p>
    </div>
    <div class="col-sm-4 col-xs-4 border-right border-bottom row-rect">
      <p>A</p>
      <p>Blood t.</p>
    </div>
    <div class="col-sm-4 col-xs-4 border-bottom row-rect">
      <p>20.4</p>
      <p>BMI</p>
    </div>
  </div>
  <div class="row dark-blue">
    <div class="col-sm-4 col-xs-4 border-right border-bottom row-rect">
      <p>172 <sub class="sub-style font-15-px">cm</sub></p>
      <p>Height</p>
    </div>
    <div class="col-sm-4 col-xs-4 border-right border-bottom row-rect">
      <p>53 <sub class="sub-style font-15-px">kg</sub></p>
      <p>Weight</p>
    </div>
    <div class="col-sm-4 col-xs-4 border-bottom row-rect font-px-15">
      <p>21 <sub class="sub-style font-15-px">%</sub></p>
      <p>Fat</p>
    </div>
  </div>

  <!-- Goals -->
  <div>
    <div class="row dark-blue">
      <div class="col-sm-12 row-goal">
        <p>Lose Weight</p>
        <p class="move-right-px-100">4.6 kg / 8 kg</p>
        <div class="progress" style="margin-top: 15px;height: 4px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 row-goal">
        <p>Running per week</p>
        <p class="move-right-px-100">8.2 km / 10 km</p>
        <div class="progress" style="margin-top: 15px;height: 4px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 row-goal">
        <p>Steps per day</p>
        <p class="move-right-px-100">3342 / 10000</p>
        <div class="progress" style="margin-top: 15px;height: 4px;">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-link" href="#/">1st Screen</a>
  <a class="btn btn-link" href="#/profile">2nd Screen</a>
  <a class="btn btn-link" href="#/info">3rd Screen</a>
  
</div>